body{
	font-family: 'Noto Sans' !important;
	background-color: #FBFAFF;
}
h1,h2,h3,h4,h5,h6{
	padding: 0;
	margin: 0;
}
h1{
	font-size: 24px;
	font-weight: 700;
	line-height: 1.4;
}
h2{
	font-size: 20px;
	font-weight: 700;
}
h3{
	font-size:16px;
	font-weight: 700;
}
h4{
	font-size: 14px;
	font-weight: 400;
}
h5{
	font-size: 12px;
	font-weight: 400;
}
h6{
	font-size: 10px;
	font-weight: 400;
}
p{
	font-size: 14px;
	line-height: 1.5;
	font-weight: 400;
}
span{
	font-size: 14px;
}
button{
	font-size: 14px;
	font-weight: 500;
}
a{
	font-size: 14px;
	text-decoration: none;
	cursor: pointer;
	color: inherit;
}
a:hover{
	color: inherit;
}
label{
	font-size: 13px;
}
.progress{
	margin-top: 7px;
	height: 10px;
	width: 100%;
	color: white;
	border-radius: 20px
}
.progress::-webkit-progress-value { 
	 -webkit-appearance: none;
	background: #2D338E;
}
.progress::-webkit-progress-bar { 
	 -webkit-appearance: none;
	background: #D9D9D9;
}

.Mt-5{
	margin-top: 5em;
}
.Mt-4{
	margin-top: 4em;
}
.Mt-3{
	margin-top: 3em;
}
.Mt-2{
	margin-top: 2em;
}
.Mt-1{
	margin-top: 1em;
}
.bg-main{
	background-color: #2D338E !important;
	color: white !important;
}
.bg-main-linear{
	background:linear-gradient(100.95deg, #5961CA 18.1%, #2D338E 82.42%);
	color: white;
}
.bg-invert{
	background-color: #FFFFFF !important;
	color: #2D338E !important;
}
.bg-sub{
	background-color: #EBE5FF;
	color:#2D338E;
}
.bg-delete{
	background-color: rgba(255, 0, 0, 0.1);
	color:#BE3533;
}
.bg-orange{
	background-color: #EF7E1B;
}
.bg-green{
	background-color: #219653;
}
.bg-yellow{
	background-color: #F4CF0D;
}
.bg-red{
	background-color: #BE3533;
}
.bg-lumut{
	background-color: #57BE33;
}
.bg-blue{
	background-color: #249EF6;
}
.C-main{
	color:#2D338E !important;
}
.C-black-3{
	color:#828282 !important;
}
.C-black-4{
	color:#BDBDBD !important;
}
.sidebar-container{
	background-color: white;
	position: fixed;
	z-index: 1000;
	width: 290px;
	overflow-y: auto;
	height: 100vh;
	padding: 20px 0px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
}
.headbar-container{
	background-color: white;
	position: fixed;
	z-index: 999;
	width: 100%;
	top: 0;
	padding: 25px 50px;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.05);
}
.sidebar-mar{
	margin-left: 25px;
	margin-right: 25px; 
}
.headbar-mar{
	margin-left: 290px;
}
.logo{
	width: 130px;
	height: 20px;
}
.Card{
	border-radius: 4px;
	padding: 26px 23px;
	background-color: white;
	margin-bottom: 22px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);
}
.Card-body{
	padding-left: 20px;
	padding-right: 20px;
}
.Card-label{
	position: relative;
	top: -20px;
}

.location-component {
	line-height: 1.2;
}
.location-component > *{
	display: inline-block; 
}

.Button{
	border:none;
	border-radius: 4px;
	padding: 5px;
}
.Button-block{
	width: 100%;
}
.Button-xl{
	width: 300px;
	font-size: 16px;
	padding: 10px;
}
.Button-l{
	padding: 10px;
}
.Button-sm{
	padding: 5px 0px;
	width: 100px;
}
.Button-s{
	font-size: 10px;
	padding: 4px 8px;
}
.icon-small{
	height: 13px;
	width: 11px
}
.icon-mid{
	display: inline-block;
	height: 18px;
	width: 20px
}
.icon-badge{
	height: 44px;
	width: 44px;
}
#icon-badge{
	position: relative;
	top: -15px;
	padding-right: 8px;
}
.navigation-link{
	padding: 16px 20px;
	font-size: 14px;
	font-weight: 600;
	color:#828282;
}
.navigation-link.active{
	background-color: #F3F0FF;
	border-left: 4px solid #2D338E;
	color:#2D338E;
}
.navigation-link span{
	position: relative;
	top: 2px;
	left: 10px;
}
.headbar-navigation{
	float: right;
	display: inline;
}
.body-container{
	margin-left: 290px;
	padding-top: 100px;
	padding-left:50px;
	padding-right:50px;
}
ul{
	padding-inline-start:0px;
}
ul.breadcrumbs{
	font-size: 14px;
	font-weight: 600px;
}
ul.breadcrumbs li{
	display: inline-block;
	padding-right: 10px;
}
ul.breadcrumbs li.active{
	color: #828282;
}
.hero-name-container{
	position: relative;
}
.hero-status-container > div{
	padding: 5px 15px;
}
.hero-status-container{
	margin-left: auto;
	margin-right: auto;
	text-align: center
}
.border-vertical{
	border-left: solid 1px #BDBDBD50;
	margin-left: 20px;
	margin-right: 12px;
	height: 55px;
	top: 10px;
	position: relative;
}
.Table-container{
	width: 100%;
	border-radius: 4px;
	border:1px solid #D1D1F0;
	overflow: auto
}
.Table{
	width: 100%;
	font-size: 12px;
	
}
.Table > * > tr > th {
	padding:10px;
	background-color: #F7F7FC;
	color:#333333;
}
.Table > * > tr > td {
	padding:10px;
}
.FormControl{
	padding: 7px 10px;
	border: solid 1px #E0E0E0;
	border-radius: 4px;
	font-size: 14px;
	width: 100%;
	background-color:white;
	color: black;
}
.FormControl::placeholder{
	color:#BDBDBD
}
.ml-auto{
	margin-left: auto !important;
}
.Card-border-blue{
	border-top: solid 2px #2D338E;
}
.Card-border-orange{
	border-top: solid 2px #EF7E1B;
}
.Card-bg{
	background: url('./bg.png');
	background-size: 100% 100%;
	background-position: 100% 100%;
}

.Badge-l{
	padding: 5px 10px;
	border-radius: 4px;
	font-size: 12px;
	color:white;
}
.Badge-s{
	padding: 2px 5px;
	font-size: 10px;
	color:white;
	margin-left: 2px;
	margin-right: 2px;
	border-radius: 7px;
}

.text-right{
	text-align: right;
}
.Lizard{
	position: fixed;
	bottom: 20px;
	right: 20px;
}
@media only screen and (max-width: 800px) {
	.sidebar-container{
		display: none;
	}
	.headbar-container{
		padding: 20px;
	}
	.headbar-mar{
		margin-left: 0 !important;
	}
	.body-container{
		margin-left: 0 !important;
		padding: 20px;
	}
	h1{
		font-size: 18px;
	}
	h2{
		font-size: 16px;
		font-weight: 700;
	}
	h3{
		font-size:14px;
		font-weight: 700;
	}
	h4{
		font-size: 12px;
		font-weight: 400;
	}
	h5{
		font-size: 10px;
		font-weight: 400;
	}
	.Card{
		padding: 20px;
	}
	.FormControl{
		font-size: 10px;
	}
	.body-container{
		margin-top: 60px;
	}
	.hero-name-container{
		margin-top: 10px;
	}
	.Table{
		font-size: 10px;
	}

	.Table > * > tr > td {
		width: 100px !important;
	}
	ul.breadcrumbs{
		font-size: 12px;	
	}
	.Button-xl{
		width: 100%;
	}
	.Lizard{
		width: 85%
	}
}
